@page
@model RegisterModel

<h2>Registrace</h2>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label>Email</label>
        <input asp-for="Input.Email" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" class="form-control" type="password" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>


    <div class="mb-3">
        <label>Jméno</label>
        <input asp-for="Input.FirstName" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Příjmení</label>
        <input asp-for="Input.LastName" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Registrovat</button>
</form>
