html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.subject-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 6px;
    border: 1px solid #ddd;
}
.image-preview {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
    border: 1px solid #ddd;
    margin-top: 10px;
}
.schedule-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 12px;
}

.day-column .card {
    height: 100%;
}

.day-column .card-body {
    padding: 8px;
}

.day-column .border {
    padding: 6px !important;
    font-size: 14px;
}
.saturday {
    background-color: #fff7cc; /* světle žlutá */
}

.sunday {
    background-color: #ffe0e0; /* světle červená */
}
.lesson-taught {
    background-color: #c8f7c5 !important;
}

.lesson-planned {
    background-color: #cfe2ff !important;
}

/* Všechny buňky na střed */
table td, table th {
    text-align: center;
    vertical-align: middle;
}

    /* První sloupec vlevo */
    table td:first-child,
    table th:first-child {
        text-align: left;
    }

/* Barvy víkendů */
.saturday {
    background-color: #fff7cc;
}

.sunday {
    background-color: #ffe0e0;
}


