@page
@model LogoutModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Odhlášení</title>
</head>
<body>
    <p>Probíhá odhlášení...</p>
</body>
</html>
